.navbar {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 1rem;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  align-items: center;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.9);
}

.navbarBrand {
  display: inline-block;
  padding: 0.3125rem 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
}

.azure {
  color: #0290ff;
}

.navItem {
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 0.8rem;
}

.avatar {
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.navbar a:hover {
  opacity: 0.7;
}
